img{
  height: 380px;
  cursor: pointer;
}

.carousel .carousel-control-next{
  visibility: hidden;
  transition: 1s;
  color:#fff;
  width: 30px;
  height: 60px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #d31c5c;
}
.carousel:hover .carousel-control-next  { visibility: visible; }

.carousel  .carousel-control-prev {
  visibility: hidden;
  color:#fff;
  transition: 1s;
  width: 30px;
  height: 60px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #d31c5c;
}
.carousel:hover  .carousel-control-prev { visibility: visible; }

/*
.ui-galleria-filmstrip-wrapper {
  overflow: hidden;
  margin: 5px auto;
  position:relative;
}

h4 {
  color: #fff;
}



nz-carousel {
  width: 700px;
  height:360px;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

[nz-carousel-content] {
  height: 380px;
  width:auto;
  line-height:100%;
  text-align: center;
  font-family: Vollkorn, 'PingFang SC', 'Helvetica', Arial;
  background: #eee;
}
*/
