.ui-galleria-filmstrip-wrapper {
  overflow: hidden;
  margin: 5px auto;
  position:relative;
}

h4 {
  color: #fff;
}



nz-carousel {
  width: 700px;
  height:360px;
  //margin: auto;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

[nz-carousel-content] {
  height: 380px;
  width:auto;
  line-height:100%;
  text-align: center;
  //margin-bottom:5em;
 // user-select: none;
 // font-size: 24px;
  font-family: Vollkorn, 'PingFang SC', 'Helvetica', Arial;
  background: #eee;
}
