


<div>

<div class="row">

  <div class="col-6"> <app-main-carousel></app-main-carousel></div>
  <div class="col-3"> <app-left-menu></app-left-menu></div>
  <div class="col-3"><app-right-menu></app-right-menu></div>
 <!-- <ul class="nav nav-pills nav-justified">
  <li class="nav-item" style="margin-right: 20px; margin-left: 20px; margin-top:30px">

  </li>
  <li class="nav-item">

  </li>
    <li class="nav-item">


    </li>
  </ul>-->
</div>

<div class="row" style=" padding-top:2em; padding-bottom: 2em">

  <app-achat-produit></app-achat-produit>

</div>


<div class="row" style="padding-top:0.5em; padding-bottom: 2em">
  <app-vote-prix></app-vote-prix>
</div>

<div class="row" style=" padding-top:0.5em; padding-bottom: 3em">
  <app-selection-produit></app-selection-produit>
</div>

</div>
