<div  style="margin-top: 30px">


  <p-card header="Shap-Shap" subheader="Promo à gogo!!!"  styleClass="ui-card-shadow">
    <p-header>
     <p>header animation ici...</p>
    </p-header>

      <div class="card" style="margin-right: 0px; margin-top: 10px;margin-left: 10px">
        <div class="card-header" style="background-color: deeppink; color: ivory; font-size: 13px; height: 15px;padding-top: 0px; padding-bottom: 2em; text-align: center">Live Promo</div>
        <div class="card-body" style="font-size: 14px; text-align: center; border:none">


          <p-galleria [images]="items" panelWidth="200" panelHeight="150" [showCaption]="false" frameWidth="60"></p-galleria>


        </div>
      </div>
    <p-footer>
     <p>le footer ici!!!</p>

    </p-footer>
  </p-card>

  <!--
  <div class="card" style=" padding-right: 0em; padding-bottom: 1em">
    <div class="card-header bg-primary" style="font-size: 15px; color:white; text-align: center">&nbsp;&nbsp;<i nz-icon nzType="gift" nzTheme="twotone" style="font-size: 20px"></i> &nbsp;  ToutPromo Cadeau</div>

    <div class="card" style="margin-right: 0px; margin-top: 10px;margin-left: 10px">
      <div class="card-header" style="background-color: deeppink; color: ivory; font-size: 13px; height: 15px;padding-top: 0px; padding-bottom: 2em; text-align: center">Live Promo</div>
      <div class="card-body" style="font-size: 14px; text-align: center;">
       &lt;!&ndash; <ul class="nav" style="padding-left: 0em">
          <li class="nav-item"><a  href="#">Promo individuelle&nbsp;<span class="badge badge-primary badge-pill">2</span></a></li>
          <li class="nav-item"><a  href="#">Mes points promo&nbsp;<span class="badge badge-primary badge-pill">5000</span></a></li>
          <li class="nav-item"><a  href="#">Proposer un produit</a></li>
        </ul>&ndash;&gt;


  <p-galleria [images]="items" panelWidth="200" panelHeight="150" [showCaption]="false" frameWidth="60"></p-galleria>




      </div>
    </div>

  &lt;!&ndash;  <div class="card" style="margin-left: 10px; margin-top: 15px; text-align: left;">
      <div class="card-header" style="background-color:deeppink; color:ivory; font-size: 15px;height: 15px;padding-top: 0px; padding-bottom: 2em; text-align: center">Surprise Promo</div>
  &lt;!&ndash;

      <ul class="navbar-nav" style="padding-left: 0em;font-size: 14px; padding-top: 1em">
        <li class="nav-item"><a href="#">Report promo &nbsp;<span class="badge badge-primary badge-pill">1</span></a></li>
        <li class="nav-item"><a  href="#">Reserve promo&nbsp;<span class="badge badge-primary badge-pill">1</span></a></li>
        <li class="nav-item"><a  href="#">Negocier le prix &nbsp;<span class="badge badge-primary badge-pill">1</span></a></li>
      </ul>
  &ndash;&gt;
    <span>Decouvrez la surprise du jour<a routerLink="#">ici...</a></span>

    </div>&ndash;&gt;
  </div>
  -->
</div>
