<div  style="margin-top: 30px;padding-right: 2em">
 <!-- <span nz-tooltip nzTitle="ouvrir ou fermer le menu" nzPlacement="right">
    <button nz-button [nzType]="'primary'" (click)="toggleCollapsed()" style="margin-bottom: 10px;width: 120px">
    <i nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"></i>
    Categories
  </button>

</span>
  <ul class="menuSize" nz-menu [nzMode]="'vertical'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
    <li nz-submenu>
      <span title>
        <i nz-icon type="tablet" theme="outline"> </i>
        <span>Telephone & Tablette</span>

      </span>
      <ul>
        <li nz-menu-item>Option 5</li>
        <li nz-menu-item>Option 6</li>
        <li nz-submenu>
          <span title>Submenu</span>
          <ul>
            <li nz-menu-item>Option 7</li>
            <li nz-menu-item>Option 8</li>
          </ul>
        </li>
      </ul>
    </li>
    <li nz-submenu>
      <span title>
        <i nz-icon type="video-camera" theme="outline"></i>
        <span>Electronique</span>

      </span>
      <ul>
        <li nz-menu-item>Option 9</li>
        <li nz-menu-item>Option 10</li>
        <li nz-menu-item>Option 11</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title>
        <i nz-icon type="laptop" theme="outline"></i>
        <span>Informatique</span>
      </span>
      <ul>
        <li nz-menu-item>Option 9</li>
        <li nz-menu-item>Option 10</li>
        <li nz-menu-item>Option 11</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title>
        <i nz-icon type="home" theme="outline"></i>
        <span>Maison & Bureau</span>
      </span>
      <ul>
        <li nz-menu-item>Option 9</li>
        <li nz-menu-item>Option 10</li>
        <li nz-menu-item>Option 11</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title>
        <i nz-icon type="skin" theme="outline"></i>
        <span>Mode</span>
      </span>
      <ul>
        <li nz-menu-item>Option 9</li>
        <li nz-menu-item>Option 10</li>
        <li nz-menu-item>Option 11</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title>
        <i nz-icon type="medicine-box" theme="outline"></i>
        <span>Santé & Beauté</span>
      </span>
      <ul>
        <li nz-menu-item>Option 9</li>
        <li nz-menu-item>Option 10</li>
        <li nz-menu-item>Option 11</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title>
        <i nz-icon type="coffee" theme="outline"></i>
        <span>Epicerie</span>
      </span>
      <ul>
        <li nz-menu-item>Option 9</li>
        <li nz-menu-item>Option 10</li>
        <li nz-menu-item>Option 11</li>
      </ul>
    </li>


    <li nz-submenu>
      <span title>
        <i nz-icon type="dash"></i>
        <span>Autres Categories</span>
      </span>
      <ul>
        <li nz-menu-item>Option 9</li>
        <li nz-menu-item>Option 10</li>
        <li nz-menu-item>Option 11</li>
      </ul>
    </li>
  </ul>-->
<!--  <nz-card  [nzBordered]="false" nzTitle="La mine d'or" [nzExtra]="extraTemplate">
    <p>contenu de la mine d'or</p>

  </nz-card>
</div>

<ng-template #extraTemplate>
  <a>decouvrir</a>
</ng-template>-->


<p-card header="La mine d'or" subheader="La boîte magique.."  styleClass="ui-card-shadow">
  <p-header>
    <p>animation sous forme de lingo d'or ici..</p>
  </p-header>
  <div>Avec un coeur sincère et plein d'amour nous vous offrons un panier en or, veillez cliquer sur le bouton ci-dessous pour decouvrir!!!</div>
  <p-footer>
    <button class="btn btn-outline-primary btn-sm">Decouvrir</button>

  </p-footer>
</p-card>


</div>
