.btn{
  border:2px solid black;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}

/*@-ms-viewport{
  width: 970px !important; ;
}*/

//<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


/*

.navbar {
  max-height: 50px;
  padding-bottom: 2em;
}

.navbar-toggler{
  padding-bottom: 3em;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 6em;
  height: 50px;
}

.navbar-toggle {

  margin-top: 0px;

}

@media (min-width: 768px) {
  .navbar-nav > li > a {

    padding-top: 0px;
    padding-bottom: 0px;

  }
}*/


